---
---
{% include header.html %}

<h1>Bug Reports, Feature Requests, Patches</h1>

<h2>Issue Tracker</h2>
<p>
Please report bugs and suggest new features under
"<a href="https://github.com/OpenPrinting/splix/issues">Issues</a>".
</p>

<h2>Pull Requests</h2>
<p>
If you did any modifications on the code, for example to fix a bug or to add not yet explicitly supported devices, post a
<a href="https://github.com/OpenPrinting/splix/issues">pull request</a>.
</p>

<h2>Old Reports</h2>
<p>
Old bug reports and feature requests are still available
<a href="http://sourceforge.net/tracker/?group_id=175815&atid=874746">at SourceForge</a>.
</p>

{% include footer.html %}

<!-- vim: set expandtab tabstop=4 shiftwidth=4 smarttab tw=80: -->

