---
---
{% include header.html %}

<h1>SPL Specifications</h1>
<h2>SPL2</h2>
<p>
    The SPL2 specification is available to download in several languages.
</p>

<ul>
    <li><a
href="https://github.com/OpenPrinting/splix/tree/doc/specs-en">English</a></li>
    <li><a
href="https://github.com/OpenPrinting/splix/tree/doc/specs">Français</a></li>
</ul>

<h2>Help us</h2>
<p>
    Please help us to translate this specification into other languages.
</p>

{% include footer.html %}

<!-- vim: set expandtab tabstop=4 shiftwidth=4 smarttab tw=80: -->

